.node circle {
  stroke: #ffffff;
  stroke-width: 2px;
}

.chart {
	background: #dddddd;
	margin: 0 auto;
}

.svg {
	background: #eeeeee;
}

.tooltip {
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
	cursor: default;
	pointer-events: none;
	background: rgba(150, 150, 150, 0.5);
	border-radius: 6px;
	padding: 6px;
	font-family: arial;
}

.fighterLabel {
    pointer-events: none;
}

.weightLabel {
	cursor: pointer;
	font-family: Arial;
}

