.node circle {
  stroke: #ffffff;
  stroke-width: 2px;
  cursor: pointer;
}

.fightDot {
	stroke-width: 3px;
	cursor: pointer;
}

.fightStem {
	stroke-width: 2px;
}

.chart {
	margin: 0 auto;
}

.svg {
	display: block;
	margin: 0 auto;
	background: #eeeeee;
}

.tooltip {
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
	cursor: default;
	pointer-events: none;
	border-radius: 6px;
	padding: 6px;
	font-family: arial;
}

.largeTooltip {
	font-size: 16px;
	background: rgba(150, 150, 150, 0.5);
}

.smallTooltip {
	font-size: 12px;
	background: rgba(180, 180, 180, 0.8);
}

.ttTable {
	border-spacing: 10px;
}

.fighterLabel {
    pointer-events: none;
}

.weightLabel {
	cursor: pointer;
	font-family: Arial;
}

.arialText {
	font-family: Arial;
}

#header {
	text-align: center;
}

#plus {
	margin-left: 10px;
}

#subtitle {
	font-size: .75em;
	font-style: italic;
}

#search {
	display: inline-block;
	position: absolute;
	right: 50px;
}

#mfc {
	font-style: normal;
	font-weight: bold;
}